PORT=5000
MONGODB_URI=mongodb+srv://wrightsprince_db_user:okfKUBl4I24NvQg5@ambience-vista.ggkiu7a.mongodb.net/ambience_vista?retryWrites=true&w=majority&appName=ambience-vista
JWT_SECRET=your_super_secret_jwt_key_change_in_production
ADMIN_EMAIL=admin@ambiencevista.com
ADMIN_PASSWORD=AdminVista2024!
NODE_ENV=production
CLIENT_URL=https://ambience-vista.vercel.app/